@model projet.net.Models.Notes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Notes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notedevoir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notedevoir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noteexamen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noteexamen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtudiantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtudiantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Module)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Module.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Moyenne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Moyenne)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
