@model IEnumerable<projet.net.Models.Notes>

@{
    ViewData["Title"] = "Notes";
}

<h1>Notes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Notedevoir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Noteexamen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EtudiantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Module)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moyenne)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Notedevoir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Noteexamen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EtudiantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Module.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moyenne)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
